<!DOCTYPE html>
<html>
  <head>
    <title>
      登录 Mass Monitor
    </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css" media="all">
        .login-wrapper {
            text-align:center;
        }
        .login-container {
            margin-right:auto;
            margin-left:auto;
            width:300px;
        }
    </style>
  </head>
  <body class="login1">
    <!-- Login Screen -->
    <div class="login-wrapper">
        <h1>Mass Monitor</h1>
      <div class="login-container active">
        <form action="index.html">
          <div class="control-group">
            <span class="glyphicon glyphicon-envelope"></span><input name="user" class="form-control" placeholder="用户名(邮箱)" type="text">
          </div>
          <br />
          <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <input name="pwd" class="form-control" placeholder="密码" type="text"><br /><br />
            <input type="submit" value="登录" />
          </div>
        </form>
        <p class="signup">
           还没有账号？<a href="signup1.html">立即注册</a>
        </p>
      </div>
    </div>
    <!-- End Login Screen -->
  </body>
</html>
